@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

.menu {
  background-color: rgba(21, 21, 225, 0.795);
  margin: auto;
  height: 100vh;
  padding-left: 40px;
  padding-top: 30px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.layout.close {
  display: grid;
  grid-template-columns: 1fr;
}

.layout_header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.layout_menu {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.layout_content {
  text-align: center;
  padding-top: 30px;
}

.menu nav {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.header_nav {
  background-color: #5767aa;
  height: 80px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.header-btn {
  margin-left: 25%;
}

.menu-btn {
  margin-bottom: 15px;
  display: grid;
  justify-self: right;
  margin-right: 45px;
  color: white;
  font-weight: 900;
}

/* estilização tabela */
.datatable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.datatable td,
.datatable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.datatable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.datatable tr:hover {
  background-color: #ddd;
}

.datatable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5767aa;
  color: white;
}

/*estilizando ShowBookList*/
.book-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.link-create-book {
  margin-left: -83%;
}

/* botões */
.btn {
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: pointer;
  border-radius: 4px;
}

.link-show-book-list {
  display: flex;
  align-self: self-start;
}

.form-submit {
  background-color: #04aa6d;
}

.btn-show-book {
  background-color: #044caa;
}

.btn-edit-book {
  background-color: #04aa6d;
}

.btn-delete-book {
  background-color: #f40808;
}

.btn-create-book {
  background-color: #048eaa;
}

.btn-show-book-list {
  background-color: #048eaa;
}

.link-show-book-list {
  margin-left: 25%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-group label {
  align-self: self-start;
}

input[type="text"],
textarea {
  padding: 5px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}


/*Estilização tabela ShowBookDetails*/
.table-show-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

/*Estilização das páginas de Home.jsx, Signup.jsx e Login.jsx*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  font-size: 1.2rem;
  color: #656262;
}



.container_auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(143, 187, 204, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form_container {
  justify-self: center;
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  height: 60vh;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.form_container > h2 {
  margin-block: 1rem;
  padding-block: 0.6rem;
  color: rgba(0, 212, 255, 1);
}

.form_container > form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form_container div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form_container input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
}

.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form_container button {
  background-color: rgba(0, 212, 255, 1);
  color: #fff;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

span a {
  text-decoration: none;
  color: rgba(0, 212, 255, 1);
}

.home_page {
  height: 100vh;
  width: 100vw;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 3rem;
  flex-direction: column;
  gap: 1rem;
}

.home_page span {
  color: rgba(0, 212, 255, 1);
}

.home_page button {
  background-color: rgb(27, 73, 83);
  color: #fff;
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 2rem;
  transition: ease-in 0.3s;
  border: none;
}

.home_page button:hover {
  background-color: rgba(0, 212, 255, 1);
}

@media only screen and (max-width: 1200px) {
  .home_page {
    font-size: 1.5rem;
  }
  .home_page button {
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
  }
}
